{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<html lang="de">

<head>
  <title>Dashboard</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>

<body>
   <header>
    <a href = "../login">
        <div class="imgcontainer">
      <img src="/static/images/policeman.jpg" alt="Avatar" class="policeImg">

        </div>
    </a>
    <br>
      <h1>Willkommen bei a<span style="color: #0D6EFD;">DB</span>enture</h1>


    <a href = "../profile" style="text-decoration: none;">
    <figure>
      {% if user.profile_img%}
        <img src="{{user.profile_img.url}}" alt="Avatar" class="profileImgSmall"/>
      {% else %}
      <img src="static/images/default-user.jpg" alt="Avatar" class="profileImgSmall"/>
      {% endif %}
        <figcaption><center>{{request.user.nick_name}}</center></figcaption>
        <a class="small" href="{% url 'logout' %}"><center>Logout</center></a>
    </figure></a>
</header>

<form>
    <div class="navbar">
        <div class="dropdown" style="padding: 1%; color: white;"> SoKo Datenbanken</div>
        <div>
            <a class="fa fa-fw fa-home" href = "login"></a>
            <a class="fa fa-fw fa-user" href = "profile"></a>
            <a class="fa fa-sign-out" href = "logout"></a>
        </div>
    </div>

    <img class="headerImg" src="../static/images/policeHeader.jpg" style="width: 100%;">
    <br>

    <div class="pagination">
        <a href="overview">&laquo;</a>
        <a href="game" title="Projektion und Selection">1</a>
        <a href="game" title="Distinct">2</a>
        <a href="game" title="Aliasing">3</a>
        <a href="game" title="Operationen auf Zahlen und Zeichenketten">4</a>
        <a href="game" title="Mengenoperatoren">5</a>
        <a href="game" title="Fallunterscheidung">6</a>
        <a href="game">&raquo;</a>
      </div>



      <div class="container">
          <div class="box1">
              <div id="aufgabe_0" class="aufgabe">
                  <p class="question"><span id="questionHeader" style="color:#0D6EFD;">Willkommen auf der Polizeiinspektion!</span><br>    </p>

                  <p style="text-align: justify;">In diesem Abenteuer hilfst du Chefinspektorin Lara Fischer und Chefinspektor Amar Kovač bei ihrem neuen Fall.
                    Hier stehen Details zur Story. Hier stehen Details zur Story. Hier stehen Details zur Story.
                    Hier stehen Details zur Story. Hier stehen Details zur Story. Hier stehen Details zur Story.
                    Hier stehen Details zur Story. Hier stehen Details zur Story. Hier stehen Details zur Story.
                    Hier stehen Details zur Story. Hier stehen Details zur Story. Hier stehen Details zur Story.<br><br>
                    Alle Abfragen werden in der Loki-Datenbank durchgeführt. Um die Aufgaben zu lösen, benötigst du keinerlei Vorkenntnisse und kannst gleich mit der ersten von den sechs Aufgaben starten.
                    Die Themen, die behandelt werden sind die folgenden: </p>

            <ul class="infoList">
            <li>Projektion und Selection</li>
            <li>Distinct</li>
            <li>Aliasing</li>
            <li>Operationen auf Zahlen und Zeichenketten</li>
            <li>Mengenoperatoren</li>
            <li>Fallunterscheidung</li>
          </ul> 
            
          
          <br>
        <details>
          <summary>Relationenschema</summary>
          <a>Dies ist ein Link zum Relationenschema (PDF), der sich in einen neuen Browsertab öffnet</a>

        </details>
        <br>

        <details>
          <summary>Semantisches Datenmodell (UML)</summary>
          <br id="databaseBr">
          <img class="database" src="static/images/LokiDB.PNG" style="width: 70%;
            height: auto;">
        </details>
        <br>

      </div>
      <a href="new"> <input class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="button" value="Abenteuer starten"> </a>


    </div>

 

            <div class="box3">
      <p style="margin-top:1em; padding-left: 1em; list-style: none;"> <b>Details zum Abenteuer</b> </p>
        <ul class="infoBox">
            <li>Anzahl der Aufgaben: 6</li>
            <li>Punkte gesamt: 100</li>
            <li>Datenbank: Loki DB</li>
        </ul>
     
        <details style="margin-left: 9%; margin-bottom:5%">
        <summary>benötigte Vorkenntnisse:</summary>

        <b>Wiedergeben und erklären von:</b>
            <br>
            <br>
        <ul>

        <li style="margin-top:-8%">Projektion und Selection</li>
        <li>Distinct</li>
        <li>Aliasing</li>
        <li>Operationen auf Zahlen</li>
        <li>Operationen auf Zeichenketten</li>
        <li>Mengenoperatoren</li>
        <li>Fallunterscheidung</li>

      </ul>
      </details>   
   
    </div>

            <div class="box3" style="background-color: #0D6EFD; color:white;">
        <p style="padding-left: 1em;"> <b>Dein Spielstand:</b></p>
      <ul>Punkte:  70</ul>
      <ul>Aufgaben: 5/6</ul>

    </div>

        </div>

  </div>

  </form>

</body>

</html>
{% endblock content %}