<html lang="de">

<head>
  <title>Change</title>
      <link rel="stylesheet" href="static/admin/css/style.css">
    <link rel="stylesheet" href="static/admin/css/change.css">
</head>

<body>

 <header>
      <a href = "login"><div class="imgcontainer" style="margin-bottom: -1%;">
      <img src="static/images/detective.png" alt="Avatar" class="avatar" style="float: left; margin-left: 20%; width: auto;" href = ''></div></a>

      <a href = "profile">
        <img  src="static/images/sam_winter_av.png" alt="Avatar" class="avatar" style="float: right; margin-right: 20%; width: auto;" href="profile">
        <figcaption style="margin-right: -100px; margin-top: 7%; text-align: center; float: right;">{{request.user.nick_name}}</figcaption>
      </a>
  <br>
      <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;">Willkommen bei a<span
          style="color: #4CAF50;">DB</span>enture   
        </h1>
  
    </div>
  </header>

  <form>
    <div class="navbar">
      
        <div class="dropdown" style="padding: 1%; color: white;"> Daten ändern
        </div>
    </div>

    <br>
    <br>

    
  <form [formGroup]="form">
    <div   style="margin-left: 30%;">
      <label class="full-width-input" for="email">
        E-Mail
        <br>
        <input type="text" id="email" placeholder="Gib deine neue E-Mail ein..." formControlName="email" style="width: 500px;">
        <br>
        <button for="email" (click)="changeEmail()" style="width: 500px;">E-Mail ändern</button>
      </label>
      <label class="full-width-input">
        <br>
        <br>
        <br>
        Name
        <br>
        <input type="text" id="name" placeholder="Gib deinen neuen Namen ein..." name ="name" style="width: 500px;">
        <br>
        <button for="name" (click)="changeName()" style="width: 500px; display: inline-block;">Name ändern</button>
        <br>
      </label>

    </div>

  </form>

</body>

</html>