span:empty::before {
  color: black;
}
span[data-placeholder]:not([data-placeholder=""]):empty::before {
  content: attr(data-placeholder);
}
span:empty::before {
  content: 'fallback placeholder';
}

#placeholder{
  margin-left: 20%;
}


.play-link{
  background-color: #4CAF50;
    color: white;
    float: right;
    border-radius: 50px;
    width: auto;
}

.container{
margin-bottom: 10%;
}

/* ------------------------Flip-Card---------------- */
img{
  width:300px;
  height:300px;
}

.flip-card {
  background-color: transparent;
  margin:0 auto;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-bottom: 10%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color:transparent;
  color: black;
}

.flip-card-back {
  background-color: #4CAF50;
  color: white;
  transform: rotateY(180deg);
}




/* -------------------Menü--------------------- */
#menu {
  font-size:14px;
}

#menu ul {
  list-style-type:none;
  list-style-image:none;
  margin:0;
  padding: 0;  
}

#menu li.topmenu {
  float:left;
}

.topmenu a {
  float:left;
  width:30px;
  text-align:center;
}

.topmenu ul{
  display:none;
}

.topmenu a, .submenu a{
  padding:20px;
  color:black;
  font-weight:bold;
  text-decoration:none;
  background-color:#f1f1f1;
  margin:0;
}

.submenu a{
  font-size:15px;
  width:200px;
  position:relative;
  clear:both; /* special IE6 */
}

#menu a:hover, .topmenu.on a {
  color:white;
  background-color:#4CAF50 !important;
}

#delete a:hover{
  background-color: #f44336 !important;
}

.topmenu:hover ul {
  display:block;
  z-index:500;
}




/*-------------------------------Responsivity----------------------------------*/

@media (max-width: 800px) {
#menu {
  margin-left: 0%;  
}

  #placeholder{
    margin: 0;
  }


}



/* ---------------Phone------------------------- */
@media (max-width: 600px) {


  .container{
    margin-bottom: 20%;
    }

  .flip-card {
    width: 200px;
    height: 200px;
  }
  
  img{
    width:200px;
    height:200px;
  }

  .submenu a{
    font-size:10px;
    width:40px;
    text-align: left;
    padding-left: 5%;
  }

}