{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
<html lang="de">

<head>
  <title>Dashboard</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
</head>

<body>
  <header>
    <a href = "login">
        <div class="imgcontainer">
      <img src="static/images/policeman.jpg" alt="Avatar" class="policeImg" style="height: 8em; width: 5em;">
        </div>
    </a>
    <br>
      <h1>Willkommen bei a<span style="color: #0D6EFD;">DB</span>enture</h1>

    <a href = "profile" style="text-decoration: none;">
    <figure>
        <img src="static/images/sam_winter_av.png" alt="Avatar" class="profileImgSmall" style="height: 5em; width: 5em;"/>
        <!-- <img src="media/profile_images{{request.user.profile_img }}"  class="avatar" /> -->
        <figcaption><center>{{request.user.nick_name}}</center></figcaption>
        <a class="small" href="{% url 'logout' %}"><center>Logout</center></a>
    </figure></a>
</header>

  <form>
    <div class="navbar">
        <div class="dropdown" style="padding: 1%; color: white;"> Abenteuer: SoKo DB</div>
      <div>
            <a class="fa fa-fw fa-home" href = "login"></a>
            <a class="fa fa-fw fa-user" href = "profile"></a>
            <a class="fa fa-sign-out" href = "logout"></a>
        </div>
    </div>

  <img class="headerImg"src="static/images/policeHeader.jpg" style="width: 100%;">

    <br>

  <div class="pagination">
      <a href="adbenturePolice">&laquo;</a>
      <a class="active" href="game" title="Projektion und Selection">1</a>
      <a href="game" title="Distinct">2</a>
      <a href="game" title="Aliasing">3</a>
      <a href="game" title="Operationen auf Zahlen und Zeichenketten">4</a>
      <a href="game" title="Mengenoperatoren">5</a>
      <a href="game" title="Fallunterscheidung">6</a>
      <a href="game">&raquo;</a>
    </div>

    <div class="container">
      <div class="box1">
        <div id="aufgabe_1" class="aufgabe">
          <p class="question"><span style="color:#0D6EFD;">Projektion und Selection</span>
            
            <p> Punkte: 2</p>
         
            <p style="text-align: justify;"> „Bella“, die geliebte Dalmatinerhündin der Familie Reich wurde entführt. Chefinspektorin Lara
              Fischer und Chefinspektor Amar Kovač haben die Vermutung, dass es sich bei den Tätern um
              eine Bande handeln könnte.
              Um die Verdächtigen einzugrenzen, möchten sie eine duplikatfreie Übersicht über alle Banden
              erstellen.
              <br>Wie könnte die SQL Abfrage lauten?</p>
          <br>         
          <br>      
          <br>
          <div class="solution2">
            <textarea style="width: 90%;" rows="10" placeholder="Deine Lösung ..."></textarea>
            <br>
          </div>




          <div style="margin-left: 5%;">
            <p style = "background-color: rgb(190, 221, 190); width: 95%;">Die Query ist syntaktisch richtig.</p>
            <p style = "background-color: rgb(190, 221, 190); width: 95%;">Die Query ist semantisch richtig.</p>
            <p style = "background-color: rgb(245, 186, 186); width: 95%;">Die Anzahl der Tupel ist falsch. (53/56)</p>
            <p style = "background-color: rgb(245, 186, 186); width: 95%;">Die Ergebnistabelle ist falsch.</p>
            
        </div>
          
          <table>
            <tr>
              <th>Bandenname</th>
              <th>Haarfarbe</th>
            </tr>
            <tr>
              <td>Red Gigants</td>
              <td>Rot</td>
            </tr>
            <tr>
              <td>Supergirls</td>
              <td>Rot</td>
            </tr>
            <tr>
              <td>Supergirls</td>
              <td>Braun</td>
            </tr>
            <tr>
              <td>Undertaker</td>
              <td>Schwarz</td>
            </tr>
            <tr>
              <td>Undertaker</td>
              <td>Rot</td>
            </tr>
            <tr>
              <td>Red Birds</td>
              <td>Hellbraun</td>
            </tr>
            <tr>
              <td>Red Birds</td>
              <td>Rot</td>
            </tr>
          </table>

        </div>
        <br>
      </div>

      <div class="box3">
        <br>
          <details>
            <summary style="margin-top:1em; padding-left: 1em; margin-bottom: 5%; ">Schema:</summary>
            <li class="first" style="list-style: none; margin-left: 20px;">Verdaechtiger
            <ul>
            <li> Groesse : int </li>
            <li> Pseudonym : varchar</li>
            <li> Bandenname : varchar</li>
            <li> Beruf : varchar</li>
            <li> Haarfarbe : varchar</li>
            <li> Schuhgroesse : int</li>
            <li> Augenfarbe : varchar</li>
            <li> Blutgruppe : varchar</li>
            <li> Fotolink : varchar</li>
            <li> Fingerabdrucklink : varchar</li>
            <li> Ergreifungsbelohnung : int</li>
            <li> PersID : int</li>
            <li> NationID : int</li>
            <li> AdressenID : int</li>
          </ul>
        </li>
          </details>
        
      </div>

      </div>

    </div>

  </form>

</body>

</html>
{% endblock content %}