<html lang="de">

<head>
  <title>AdventureDashboard</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <link rel="stylesheet" href="static/admin/css/style.css">
</head>

<body>

  <header>
      <a href = "login"><div class="imgcontainer" style="margin-bottom: -1%;">
      <img src="static/images/detective.png" alt="Avatar" class="avatar" style="float: left; margin-left: 20%; width: auto;" href = ''></div></a>

      <a href = "profile">
        <img  src="static/images/sam_winter_av.png" alt="Avatar" class="avatar" style="float: right; margin-right: 20%; width: auto;" href="profile">
        <figcaption style="margin-right: -100px; margin-top: 7%; text-align: center; float: right;">{{request.user.nick_name}}</figcaption>
      </a>
  <br>
      <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;">Willkommen bei a<span
          style="color: #4CAF50;">DB</span>enture   
        </h1>
  
    </div>
  </header>

 

  <form>
    <div class="navbar">
      
        <div class="dropdown" style="padding: 1%; color: white;"> Wähle eines der spannenden Abenteuer:
        </div>
    </div>

    <div class="container">
     <a class="imageAdventure" href="adbenturePolice"  style="text-decoration: none;">
        <img src="static/images/bakery.png" alt="Bäckerei" style="width: 100%;" >
        <figcaption>Morgens in der Bäckerei</figcaption>

        <div id="foo" style="text-align: center; font-size: 20px;">7/7</div>
         <meter style="width: 90%; height:20px; margin-left: 5%;" value="70" min="0" max="70"/></meter>
         <br>
         <br>

         </a>
      
    
     <a class="imageAdventure" href="adbenturePolice" style="text-decoration: none;">
        <img src="static/images/police.png" alt="Polizei" style="width: 100%;">
        <figcaption>Sonderkommando Datenbanken</figcaption> 

        <div id="foo" style="text-align: center; font-size: 20px;">5/7</div>
         <meter style="width: 90%; height:20px; margin-left: 5%;" value="50" min="0" max="70"/></meter>
         <br>
         <br>

         </a>


     <a class="imageAdventure" href="adbenturePolice" style="text-decoration: none;">
        <img src="static/images/forest.png" alt="Wald" style="width: 100%;" >
        <figcaption>Im Wald</figcaption>

        <div id="foo" style="text-align: center; font-size: 20px;">0/7</div>
         <meter style="width: 90%; height:20px; margin-left: 5%;" value="00" min="0" max="70"/></meter>
         <br>
         <br>

         </a>

       </div>

</form>

</body>

</html>